body{
    margin:0
}
 ul{
   list-style-type: none;
   text-align: right;
   margin: 0;
   line-height: 40px;
   background: rgb(21, 255, 0);
 }
 ul > li{
     display: inline;
     margin-right: 15px;
   letter-spacing: 3px;
   font-weight: bold;
   cursor: pointer;
 }
 .menu-active{
   color: red;
   font-size: 20px;
   font-style: italic;
 }
 .mobile-view-ul{
   width: 120px;
   text-align: left;
   display: inline-block;
   transition: left 2s;
   position: absolute;
 }
 .mobile-view-ul > li{
   display: block
 }
 .mobile-menu-btn{
   position: absolute;
   right: 0;
   top:30px
 }